### Question 1
`1.0 Pts`

What is the result of the following operation `9 % 4`?

2.25

2.0

1

2

In [19]:
9 % 4

1

### Question 2
`1.0 Pts`
What is the value of variable `b` after the execution of the following statements?

15

(5, 10)

10

5

In [20]:
b = 5
a = 10
b = a

print(b)

10

### Question 3
`2.0 Pts`
The result of which of the following mathematical operations has the data type integer?

*Note: There are 2 correct answers to this question.*

2 / 3

2 // 3

2 % 3

2.0 + 3

9 ** 0.5

In [22]:
print(type(2 / 3))

print(type(2 // 3))

print(type(2 % 3))

print(type(2.0 + 3))

print(type(9 ** 0.5))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

### Question 4
`1.0 Pts`
What is the result of the following statement?

print("12" + "34")

"12", "34"

46

1234

12 34

In [23]:
print("12" + "34")

1234

### Question 5
`1.0 Pts`

What is the value of a after the following statements have been executed?

"123"

"1230"

"127"

"1234"

In [25]:
a = "123"
if a > "a":
    a += "4"
else:
    a += "0"
    
a

'1230'

### Question 6
`1.0 Pts`

According to the following code, what is the drink?

Cola

Beer

Whiskey

Milk

In [26]:
age = 18

if age > 10:
    drink = "Cola"
elif age > 16:
    drink = "Beer"
elif age > 18:
    drink = "Whiskey"
else:
    drinknk = "Milk"
    
drink

'Cola'

### Question 7
`2.0 Pts`

Which of the following numbers assigned to the variable a makes the following expression True?

*Note: There are 2 correct answers to this question.*

16

17

18

14

15

In [33]:
a = 14
a > 10 and not(a > 20) and a % 2 == 0 and a % 3 != 0

True

In [34]:
a = 16
a > 10 and not(a > 20) and a % 2 == 0 and a % 3 != 0

True

### Question 8
`2.0 Pts`
Which of the following statements about lists are correct?

*Note: There are 3 correct answers to this question.*

The keyword `in` is used to check if a given element is part of a list. `correct`

Lists can be multiplied with integers. The result is again a list. `correct`

The elements of a list are separated by semicolons ;.

Lists can contain elements of all data types. That means there can be lists of integers or list of strings. `correct`

All elements within a list must have the same data type.

### Question 9
`1.0 Pts`

What is the content of variable `list1` after the following statement has been executed?

[1, 2, 3, 4, 5, 6]

[[1, 3, 5], [2, 4, 6]]

[1, 3, 5, 2, 4, 6]

[3, 7, 11]

In [36]:
list1 = [1, 3, 5] + [2, 4, 6]

list1

[1, 3, 5, 2, 4, 6]

### Question 10
`1.0 Pts`

What is the value of variable `list1` after the following statements have been executed?

[1, 1, 3]

[1, 1, 2, 2, 2, 3]

[1, 1, 1, 2, 2, 3]

[1, 1, 1, 2, 3]

In [40]:
list1 = [1, 1, 1, 2, 2, 2, 3]

list1.remove(2)

list1

[1, 1, 1, 2, 2, 3]

### Question 11
`1.0 Pts`

What is the value of `x` after the following statements have been executed?

4

7

1

9

In [42]:
list1 = [1, 4, 7, 9]
for i in list1:
    if i % 2 == 0:
        x = i

x

4

### Question 12
`1.0 Pts`

Which sequence is generated by the following range? range(1, 9, 2)

In [48]:
for i in range(1, 9, 2):
    print(i)

1
3
5
7

### Question 13
`1.0 Pts`

What is the value of variable `list2` after the following statements have been executed?

[3, 1]

[6, 4, 2, 0]

[4, 2, 0]

[0, 2, 4]

In [2]:
list1 = list(range(5))

list2 = [x for x in list1 if x % 2 == 0]

list2 = list2[::-1]

list2

[4, 2, 0]

### Question 14
`1.0 Pts`

What is the value of variable `a` after the following statements have been executed?

(1980, "July", 31)

Potter

1980

Error

In [51]:
student = ("Potter", 
           "Harry", 
           "Gryffindor",
           "Hogwarts",
           (1980, "July", 31)
)

a = student[-1][0]

a

1980

### Question 15
`1.0 Pts`

What is the effect of the following statements?

The key-value pair "Peter" : 234 is added to the dictionary.

As the key is already available, this code runs into an error.

The key-value pair "Peter" : 123 is replaced by "Peter" : 234 `correct`

As the key is already available, the dictionary is unchanged.

In [53]:
tel = {"Peter" : 123, "Paul" : 456, "Mary" : 789}
tel["Peter"] = 234

tel

{'Peter': 234, 'Paul': 456, 'Mary': 789}

### Question 16
`1.0 Pts`

What is the result of the following statements?

Variable a contains the value `"Hermione"`

Index Error

Key Error

Variable a contains the value `"Harry"`

In [54]:
studs = {123 : "Harry",
        234 : "Hermione",
        345 : "Ron"}

a = studs[1]

a

KeyError: 1

### Question 17
`2.0 Pts`
Which of the following statements about the while loop are correct?

*Note: There are 3 correct answers to this question.*

while loops should be preferred over for loops.

while loops execute the while block (that is, the conditional statements belonging to the loop) at least once. 

while loops can end up in infinite loops. `correct`

If the iteration is to be done over a sequence, for loops are preferred. If it is not clear how many iterations are required, then a while loop is (often) the better choice. `correct`

The while block (that is, the conditional statements belonging to the loop) must contain at least one statement. `correct`

### Question 18
`1.0 Pts`

What is the value of variable `a` after the following code has been executed?

54

55

65

66

In [57]:
a = 0
i = 1
while i < 10:
    i += 1
    a += i

a

54

### Question 19
`2.0 Pts`

Which of the following statements about the modes used to open a file are correct?

*Note: There are 3 correct answers to this question.*

In mode "r+", it is possible to read data from a file, but also to write data to the file. `correct`

A file opened in mode "r+" has first to be read. In a second step, data can be written to the file. A file opened in mode "w+" must first have data written to the file before data can be read. 

In mode "r", the file must exist. If an attempt is made to access a file that is not available, the FileNotFoundError is triggered. `correct`

If data is written to a file that is opened in mode "r", an error is triggered. `correct`

In mode "w+", an existing file will be opened.

### Question 20
`2.0 Pts`

Which of the following statements about reading from a file are correct?

*Note: There are 3 correct answers to this question.*

Files are organized sequentially, therefore a for loop can be used to iterate over the lines of a file. `correct`

If a file is read with .readlines(), it is not necessary to close it at the end of the program.

It is possible to read the complete file into a list in one go, without a for loop, using the method .readlines() `correct`

As files are organized sequentially, they can easily be converted into a list, as a list is a sequence type as well. `correct`

If a file is read from the beginning to the end, the read cursor is automatically positioned at the beginning of the file again.

### Question 21
`2.0 Pts`

Which of the following statements about f-strings are correct?

*Note: There are 3 correct answers to this question.*

To indicate that a string should be treated as an f-string, an "f" simply has to be placed before the string. `correct`

Using f-strings, the programmer has the opportunity to specify the layout. For example, the output could be in different colors, or bold, or italic.

It is possible to add additional information into the braces, which supports the alignment of the output. `correct`

When using an f-string, curly braces { } can be used. Variables or function calls can be placed within these braces. `correct`

f-strings have been available in Python since version 3.0.

### Question 22
`1.0 Pts`

What is the result of the following statement?

['Yesterday', 'Let it be', 'Help', 'Something']

['Yesterday,', 'Let', 'it', 'be,', 'Help,', 'Something']

"Yesterday", " Let it be", " Help", " Something"

"Yesterday, Let it be, Help, Something"

In [58]:
"Yesterday, Let it be, Help, Something".split()

['Yesterday,', 'Let', 'it', 'be,', 'Help,', 'Something']

### Question 23
`2.0 Pts`

Which of the following are built-in-functions in Python?

*Note: There are 2 correct answers to this question.*

for

.isdecimal()

int() `correct`

print() `correct`

.strip()

### Question 24
`2.0 Pts`

Which of the following statements about the syntax of functions in Python are correct?

*Note: There are 2 correct answers to this question.*

The docstring is a mandatory part of the function.

The function body can consist of zero, one, or many statements.

A function must have a return value.

The definition of a function always starts with the keyword `def`. `correct`

Functions can have none, one or more input parameters. `correct`

### Question 25
`1.0 Pts`

What is the return value of the following function?

None

9

7

Error

In [61]:
def f1():
    return 7
    return 8
    return 9

print(f1())

7

### Question 26
`1.0 Pts`

What is the output of the following program?


```
4
4
6
```

```
6
4
4
```

```
6
```

```
6
8
```

In [62]:
def f5():
    return 3
    print (4)
    
print(f5() + f5())

6

### Question 27
`1.0 Pts`

What is the outcome of the following program?


```
6 12 24 40
```

```
6 12 24 10
```

```
6 12 16 10
```

```
6 6 24 10
```

In [63]:
def f1(x =2, y = 3):
    return x * y

print(f1(), f1(3, 4), f1(8), f1(y = 5))

6 12 24 10

### Question 28
`1.0 Pts`

What is the outcome of the following program?


```
13
3
```

```
13
14
```

```
13
4
```

```
14
14
```

In [64]:
def f3(x):
    x += 10
    print(x)
    
x = 3
f3(x)
print(x + 1)

13
4

### Question 29
`1.0 Pts`

What is the output of the following program?

8

9

16

25

In [65]:
def f1(i):
    return i ** 2

def f2(j):
    return (f1(j + 1))

print(f2(3))

16

### Question 30
`2.0 Pts`

Which of the following statements about methods and functions are correct?

*Note: There are 3 correct answers to this question.*

Methods and functions are synonyms. Their meaning is exactly the same.

Methods are related to object-oriented programming; functions are related to procedural programming. `correct`

Methods are invoked by calling `objectname.methodname`. Important: The method must be defined for the corresponding object. `correct`

Methods can be used together with the corresponding object or without the object.

Methods can have input parameters and return values. `correct`